CpDataFormListEntryViewItem {
    layout:default;
}

CpDataFormListEntryViewItem::dataItem_Icon
{
    fixed-height:60;
    fixed-width:60;   
}

CpDataFormListEntryViewItem::dataItem_Label
{
    size-policy-horizontal: preferred;  
    text-height: 3.0un;  
    top: -1.0un;
    left: -2.0un;
}


CpDataFormListEntryViewItem::dataItem_Description
{
    text-height: 3.0un;  
    bottom:1.0un; 
    left: -2.0un;
}






