
/*
    Layout selection
*/

CpDataFormListEntryViewItem {
    layout:default;
}

CpDataFormListEntryViewItem::dataItem_Background
{
}

CpDataFormListEntryViewItem::dataItem_Icon:portrait
{
    fixed-height: var(hb-param-graphic-size-image-portrait);
    fixed-width:  var(hb-param-graphic-size-image-portrait);
}

CpDataFormListEntryViewItem::dataItem_Icon:landscape
{
    fixed-height: var(hb-param-graphic-size-image-landscape);
    fixed-width:  var(hb-param-graphic-size-image-landscape);
}

CpDataFormListEntryViewItem::dataItem_Label
{
    size-policy-horizontal: preferred;  
    font-variant: primary;
    text-align:   left;
}

CpDataFormListEntryViewItem::dataItem_Description
{
   font-variant: secondary;
   text-align:   left;
}


